* {
  box-sizing: border-box;
  margin: 0 auto;
}
.app_wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "head head"
    "serv serv"
    "about about"
    "servAll servAll"
    "proj proj"
    "dev dev";
  font-family: monospace;
}
